<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<header>Editar Cliente</header>

<form >

    <ul class="mt-5 mu=5">

        <li>
            <label>Cedula:</label>
            <input type="text" [(ngModel)]="cliente.cedula" name="cedula">
        </li>
        <li>
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="cliente.nombre" name="nombre">
        </li>
        <li>
            <label>Apellido:</label>
            <input type="text" [(ngModel)]="cliente.apellido" name="apellodo">
        </li>
        <li>
            <label class="mr-5">Fecha de Nacimiento:</label>
            <input type="date" [(ngModel)]="cliente.fecha_nacimiento" name="fecha_nacimiento">
        </li>

        <p align="right" class="mt-5">
            <button (click)="Actualizar(cliente)" class="btn btn-default" class="btn btn-primary">Editar</button>

        </p>

        <!--Garantia-->
        <div class="underline"></div>

    </ul>


</form>
<p align="right" class="mt-5" style="margin-right: 225px;">
    <button class="btn btn-default" class="btn btn-primary" routerLink="/listarclientes">Regresar a la lista</button>
</p>
