input{
    
    width: 30%;
    padding: 2px;
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    height: 25px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
    border-color: #000;
    
    
  }